{% extends 'adminbasepage.html' %}

{% block body %}

    <div class="top-page">
        <a href="{{url}}start.php?c=user&t=admindisplay"><img width="225px"src="http://195.154.118.169/sofyan/pompier/views/logo_nso.png" class="logo-navbar"/></a>
        <nav class="navbar">
            <a href="{{url}}start.php?c=user&t=panelusers" class="nav-link">Utilisateurs</a>
            <a href="{{url}}start.php?c=engin&t=panelengin" class="nav-link">Engins</a>
            <a href="{{url}}start.php?c=stats&t=panelstats" class="nav-link">Statistiques</a>
            <a href="{{url}}start.php?c=galerie&t=panelgalerie" class="nav-link">Galerie</a>
        </nav>
    </div>
    <h1>Liste des Engins</h1>
    <a href="{{url}}start.php?c=engin&t=createEngin" class="create-link">Create</a><p><br /></p>
    <table id="enginsTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nom abrégé</th>
                <th>Description</th>
                <th>Photo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for engin in engins %}
            <tr>
                <td>{{ engin.id }}</td>
                <td>{{ engin.fullnom }}</td>
                <td>{{ engin.abrNom }}</td>
                <td>{{ engin.description }}</td>
                <td><img width=100px src="data:image/png;base64,{{ engin.photoLink }}"/></td>
                <td>
                    <a href="{{url}}start.php?c=engin&t=editEngin&id={{engin.id}}" class="edit-btn">Edit</a>
                </td>
                <td>
                    <a href="{{url}}start.php?c=engin&t=deleteEngin&id={{engin.id}}" class="delete-btn">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block javascript %}
        <script>
            $(document).ready(function () {
                $("#enginsTable").DataTable();
            });
        </script>
    {% endblock %}
{% endblock %}
