{% extends 'adminbasepage.html' %}

{% block body %}
    <div class="top-page">
        <a href="{{url}}start.php?c=user&t=admindisplay"><img width="225px"src="http://195.154.118.169/sofyan/pompier/views/logo_nso.png" class="logo-navbar"/></a>
        <nav class="navbar">    
            <a href="{{url}}start.php?c=user&t=panelusers" class="nav-link">Utilisateurs</a>
            <a href="{{url}}start.php?c=engin&t=panelengin" class="nav-link">Engins</a>
            <a href="{{url}}start.php?c=stats&t=panelstats" class="nav-link">Statistiques</a>
            <a href="{{url}}start.php?c=galerie&t=panelgalerie" class="nav-link">Galerie</a>
        </nav>
    </div>
    <!-- <div class="home-content">
        <img width=20px src="http://195.154.118.169/sofyan/pompier/views/home-icons.png" alt="Icone Home" class="icon_home" />
        <a href="{{url}}start.php?c=user&t=admindisplay" class="home-btn">Page d'accueil</a>
    </div> -->
    <h1>Liste des Utilisateurs</h1>
    <a href="{{url}}start.php?c=user&t=createUser" class="create-link">Create</a><p><br /></p>
    <table id="usersTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse Mail</th>
                <th>Mot De Passe</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>

                <td>
                    <a href="{{url}}start.php?c=user&t=editUser&id={{user.id}}" class="edit-btn">Edit</a>
                </td>
                <td>
                    <a href="{{url}}start.php?c=user&t=deleteUser&id={{user.id}}" class="delete-btn">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block javascript %}
        <script>
            $(document).ready(function () {
                $("#usersTable").DataTable();
            });
        </script>
    {% endblock %}
{% endblock %}
