{% extends "adminbasepage.html" %} {% block title %} Modifier l'engin {% endblock%}
{% block body %}
<div class="editEngin-form">
    <h1>Modifier l'engin</h1>
    <form method="post" action="start.php?c=engin&t=updateEngin" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ engin.id }}" />
        
        <label for="nom_engin">Nom :</label>
        <input type="text" name="nom_engin" id="nom_engin" value="{{ engin.fullnom }}" /><br />

        <label for="nom_abr">Abréviation :</label>
        <input type="text" name="nom_abr" id="nom_abr" value="{{ engin.abrNom }}" /><br />

        <label for="description">Description :</label>
        <input type="text" name="description" id="description" value="{{ engin.description }}" /><br />

        <label for="photoLink">Modifier La Photo :</label><img src="{{ engin.photoLink }}" />
        <input type="hidden" name="photoLink_actuelle" value="{{ engin.photoLink }}" />
        <input type="file" name="nouvellePhoto" id="nouvellePhoto" /><br />
        <br />

        <input type="submit" value="Enregistrer les modifications" />
    </form>
</div>

{% endblock %}